<section class="bg-primary section-md" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Error <%=title%></h2>
      </div>
    </div>
  </div>
</section>
<section class="section-sm">
  <div class="container">
    <h1>Someting went wrong :(</h1>
    <p><strong><%=message%></strong></p>
    <p><%=error%></p>
  </div>
</section>