<nav class="nav nav-tabs px-3" id="myTab" role="tablist">
  <!-- <a class="nav-item nav-link active" href="#">Home</a>
  <a class="nav-item nav-link" href="#">Profile</a> -->
</nav>
<div class="tab-content">
  <div class="container-fluid py-3 tab-pane fade show active">

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/admin">Data</a></li>
      <li class="breadcrumb-item active">Data Structure</li>
    </ol>

    <%-require('admin').showWillMessages()%>

    Buttons<br>
    Filters<br>
    Actions<br>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
