<nav class="nav nav-tabs px-3" id="myTab" role="tablist">
</nav>
<div class="tab-content">
  <div class="container-fluid py-3 tab-pane fade show active">

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">Data</li>
    </ol>

    <%-require('admin').showWillMessages()%>

    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Products</h5>
        </div>
        <small class="text-muted">Donec id elit non mi porta.</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Items</h5>
        </div>
        <small class="text-muted">Donec id elit non mi porta.</small>
      </a>
    </div>
  </div>
</div>
