<nav class="nav nav-tabs px-3" id="myTab" role="tablist">
</nav>
<div class="tab-content">
  <div class="container-fluid py-3 tab-pane fade show active">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <%-require('admin').showWillMessages()%>
    ...
  </div>
</div>
  