<nav class="nav nav-tabs px-3"></nav>
<div class="tab-content">
    <div class="container-fluid py-3 tab-pane fade show active">
        <h1><%=require('lang').t('Someting went wrong :(')%></h1>
        <p><strong><%=message%></strong></p>
        <p><%=error%></p>
    </div>
</div>

